{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<h1 class="page-title">Профиль пользователя</h1>

<div class="detail-card">
    <p><strong>Имя пользователя:</strong> {{ request.user.username }}</p>
    <p><strong>Имя:</strong> {{ request.user.first_name|default:"Не указано" }}</p>
    <p><strong>Фамилия:</strong> {{ request.user.last_name|default:"Не указано" }}</p>
    <p><strong>Email:</strong> {{ request.user.email|default:"Не указан" }}</p>
    <p><strong>Телефон:</strong> {{ request.user.phone|default:"Не указан" }}</p>
    <p><strong>Роль:</strong> {{ request.user.get_role_display }}</p>
</div>
{% endblock %}