{% extends 'base.html' %}

{% block title %}Пользователи{% endblock %}

{% block content %}
<h1 class="page-title">Список пользователей</h1>

<div class="cards">
    {% for user in users %}
        <div class="card">
            <h2 class="card-title">{{ user.username }}</h2>

            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
            <p class="card-text"><strong>Роль:</strong> {{ user.get_role_display }}</p>

            <a href="{% url 'user_detail' user.pk %}" class="btn">
                Открыть профиль
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}